1) Print all elements of a list using for loop

In [43]:
mylist = [1991, 1992, 1993, 1994, 1995]
for year in mylist:
    print(year)
print(type(mylist))

1991
1992
1993
1994
1995
<class 'list'>

2) A company decided to give bonus of 5% to employee if his/her year of service is more than 5
years. Ask user for their salary and year of service and print the net bonus amount

In [44]:
serviceyear = int(input('Enter your service year number : '))
salary = int(input('Enter your salary: ')) 
if serviceyear > 5:
    print('Your net bonus amount is', 0.05*salary)

Enter your service year number : 10
Enter your salary: 500000
Your net bonus amount is 25000.0

3) Take input of age of 3 people by user and determine oldest and youngest among them.

In [56]:
user1 = int(input('Enter age here user1: '))
user2 = int(input('Enter age here user2: '))
user3 = int(input('Enter age here user3: '))

if user1 >= user2 and user1 >= user3:
    print('user1 is the oldest')
elif user2 >= user1 and user2 >= user3:
    print('user2 is the oldest')
elif user3 >= user1 and user3 >= user2:
    print('user3 is the oldest')
else:
    print('all users are same age')

Enter age here user1: 55
Enter age here user2: 30
Enter age here user3: 55
user1 is the oldest

4) A school has following rules for grading system: 
a. Below 25 - F 
b. 25 to 45 - E 
c. 45 to 50 - D 
d. 50 to 60 - C 
e. 60 to 80 - B 
f. Above 80 - A

5) Ask user to enter marks and print the corresponding grade.

In [41]:
score = float(input('Enter your mark here: '))
if score < 25:
    print('F')
elif score >= 25 and score < 45:
    print('E')
elif score >= 45 and score < 50:
    print('D')
elif score >= 50 and score < 60:
    print('C')
elif score >= 60 and score < 80:
    print('B')
else:
    print('A')

Enter your mark here: 55.5
C

6) Write a Python script to merge two Python dictionaries

In [31]:
country_continent = {'Nigeria': 'Africa', 'Sweden': 'Europe', 'Qatar': 'Asia'}
planets = {1: 'Mercury', 2: 'Venus', 3: 'Earth', 4: 'Mars'}
geography = {**country_continent,**planets}
print(geography)

{'Nigeria': 'Africa', 'Sweden': 'Europe', 'Qatar': 'Asia', 1: 'Mercury', 2: 'Venus', 3: 'Earth', 4: 'Mars'}

In [57]:
#method 2 - using the update method

line1 = {'Kiitan': 19, 'Tiwi': 25, 'Tishe': 12}
line2 = {'Lade': 25, 'Tiara': 15}
line = line1.copy()
line.update(line2)
print(line)

{'Kiitan': 19, 'Tiwi': 25, 'Tishe': 12, 'Lade': 25, 'Tiara': 15}

7) Write a python program to get the largest number from a list

In [28]:
number_list = [25, 75, 125, 50, 100, 10]
print(number_list)
max(number_list)
print('Largest number is:',max(number_list))

[25, 75, 125, 50, 100, 10]
Largest number is: 125

8) Write a python program to remove a key from a dictionary

In [23]:
planet = {1: 'Mercury', 2: 'Venus', 3: 'Earth', 4: 'Mars', 5: 'Jupiter'}
print('Before removal: ', planet)
del planet[3]
print('After removal: ', planet)
print(type(planet))

Before removal:  {1: 'Mercury', 2: 'Venus', 3: 'Earth', 4: 'Mars', 5: 'Jupiter'}
After removal:  {1: 'Mercury', 2: 'Venus', 4: 'Mars', 5: 'Jupiter'}
<class 'dict'>